[submodule "Dayton Audio Controller.indigoPlugin\\Contents\\Server Plugin\\RPFramework"]
	path = Dayton Audio Controller.indigoPlugin\\Contents\\Server Plugin\\RPFramework
	url = https://github.com/RogueProeliator/IndigoPlugins-RPFramework
